<h1><%= @topic.title %></h1>
<% @subcategories.each do |subcategory| %>
  <%= link_to subcategory_path(subcategory.id) do %>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> <%= subcategory.content %>
    </button>
  <% end %>
<% end %>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">1 <%= @topic.user_name %> | <%= @topic.created_at.to_s(:datetime_jp) %></h5>
  </div>
  <div class="panel-body">
    <%= @topic.content %>
  </div>
</div>
<% @responses.each_with_index do |response, m| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <%= params[:page]==nil ? m+2 : ((params[:page].to_i)*5+1) -4 + m %> <%= response.user_name %> | <%= response.created_at.to_s(:datetime_jp) %>
      </h5>
    </div>
    <div class="panel-body">
      <%= response.content %>
    </div>
  </div>
<% end %>
<%= paginate @responses %>
<hr>
<% if user_signed_in? %>
  <%= form_for(@response) do |f| %>
  <%= hidden_field_tag :topic_id, @topic.id %>
    <div class="form-group">
      <%= f.label :user_name, "お名前" %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content, "内容" %>
      <%= f.text_area :content, size: "40x10", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "返信する", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
<p>返信するには<%= link_to "ログイン",new_user_session_path  %>が必要です</p>
<% end %>
